* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: $font-family-sans;
  font-size: 16px;
  line-height: 24px;
  background-color: $uoc-bg;
  color: $uoc-corporate;
}

.header {
  background-image: url("/src/assets/images/marty-bell-TrOAkszKzzA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  justify-content: center;
  color: white;
  padding-top: 10rem;
  padding-bottom: 5rem;

  h1 {
    font-size: clamp(2.5rem, 5vw + 1rem, 6rem); // Tamaño de fuente adaptable
    line-height: 1.2; // Espaciado adecuado entre líneas
    margin-bottom: 0.5rem;
  }

  p {
    font-size: clamp(1rem, 2vw + 0.5rem, 2rem); // Tamaño de fuente adaptable
    max-width: 600px; // Limitar el ancho del párrafo para mejor legibilidad
    line-height: 1.5;
  }
}

.uoc-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}

.uoc-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 200px;
  height: auto;

  @media (min-width: $mq-min-width) {
    max-width: none;
  }
}

.uoc-title {
  font-family: $font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: $uoc-corporate;

  @media (min-width: $mq-min-width) {
    font-size: 36px;
  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}

.komoot-map {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);

  @media (min-width: $md) {
    width: 50%;
  }
}

.swiper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
  transition: transform 0.3s ease;
}

.swiper-slide:hover {
  transform: translateY(-10px);
}

.swiper-slide img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.swiper-slide p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: $secondary-color;
}

.swiper-pagination-bullet {
  background-color: $secondary-color;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}

.about {
  padding: 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  background-color: $background-color;
  color: $text-color;
  border-left: 4px solid $primary-color;

  h2 {
    color: $primary-color;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: $font-family-sans;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: $secondary-color;
    max-width: 700px;
  }

  a {
    color: $primary-color;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}

.highlights {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  @media (min-width: $md) {
    flex-direction: row;
  }

  .box {
    width: 100%;

    @media (min-width: $md) {
      width: 50%;
      margin: 2rem;

      .alt-img {
        margin-bottom: 15rem;
      }
    }

    overflow: hidden;
    margin: 0;

    img {
      max-width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }
}

.click {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid $primary-color;
  transition: all 0.3s ease;

  &:hover {
    color: $primary-color;
  }

  .chevron {
    transition: transform 0.3s ease;
    width: 2rem;
    color: $primary-color;
  }
}

.lista {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;

  &.open {
    max-height: 500px; // Ajusta según el contenido
  }
}

// Rota el icono cuando la lista está abierta

.open-chevron {
  transform: rotate(180deg);
}

.my-swiper {
  border-top: 1px solid $primary-color;
  padding-top: 6rem;
  padding-bottom: 6rem;
  border-bottom: 1px solid $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .swiper-wrapper {
    padding: 4rem 0 !important;
  }

  .swiper-slide {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 4/5;
    width: 100%;
    height: auto;

    img {
      max-width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    }

    p {
      margin-top: 0.5rem;
      font-size: 0.9rem;
      color: #555;
    }
  }
}

.montserrat {
  width: 100%;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);

  h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 2rem;
  }

  .flex {
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: $md) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  ul {
    padding-left: 1rem;
    list-style: none;
    max-width: 400px;

    li {
      margin-bottom: 1rem;
      position: relative;
      padding-left: 1.2rem;
      font-size: 0.95rem;
      max-width: 400px;
      box-sizing: border-box;

      &::before {
        content: "•";
        position: absolute;
        left: 0;
        color: $primary-color;
      }

      strong {
        color: $secondary-color;
      }
    }
  }

  .komoot-map {
    width: 100%;
    max-width: 600px;

    iframe {
      width: 100%;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    }

    div {
      margin-top: 0.5rem;
      font-size: 0.75rem;
      text-align: center;
      color: $secondary-color;
    }
  }
}
