<section class="about">
    <h2>Acerca de la Comarca de Barcelona</h2>
    <p>
        La <strong>Comarca de Barcelona</strong>, situada en la región de
        <strong>Cataluña</strong>, abarca una variedad de municipios y
        localidades que rodean la capital catalana. Este territorio se
        caracteriza por su <strong>diversidad de paisajes</strong>, desde zonas
        urbanas y áreas industriales hasta espacios rurales y naturales. La
        comarca incluye lugares de interés histórico y cultural, además de
        parques naturales que ofrecen un respiro de tranquilidad, como el
        <a
            href="https://es.wikipedia.org/wiki/Parque_Natural_de_la_Sierra_de_Collserola"
            target="_blank"
        >
            Parque Natural de la Sierra de Collserola
        </a>
        y el
        <a
            href="https://es.wikipedia.org/wiki/Parque_del_Montnegre_y_el_Corredor"
            target="_blank"
        >
            Parque del Montnegre i el Corredor </a
        >.
    </p>
    <p>
        Además de su riqueza natural, la Comarca de Barcelona es un
        <strong>centro económico y logístico importante</strong> para la región,
        con una red de infraestructuras que conecta de forma eficiente a los
        municipios entre sí y con la ciudad de Barcelona. Localidades como
        <strong>L'Hospitalet de Llobregat</strong>, <strong>Badalona</strong>, y
        <strong>Sant Cugat del Vallès</strong> son conocidas por su vida
        cultural y comercial, además de sus festivales y tradiciones locales que
        reflejan la esencia de la cultura catalana.
    </p>
</section>
