<section class="highlights">
    <div class="box">
        <h2>Puntos de Interés Natural en la Comarca de Barcelona</h2>
        <div class="highlight-item">
            <p>
                La comarca de Barcelona ofrece paisajes naturales sorprendentes,
                ideales para los amantes de la naturaleza y el senderismo. A
                continuación, algunos de los mejores lugares para explorar.
            </p>
        </div>
        <div>
            <div class="click">
                <img src="./assets/images/chevron.svg" class="chevron"/>
                <h3>Parques Naturales y Montañas</h3>
            </div>
            <ul class="lista">
                <li>
                    <strong>Parque Natural de la Sierra de Collserola</strong>
                    – Un vasto pulmón verde cerca de Barcelona, con rutas como
                    la Carretera de les Aigües, perfecta para senderismo y
                    ciclismo, con vistas panorámicas sobre la ciudad.
                </li>
                <li>
                    <strong>Montaña de Montserrat</strong> – Famosa por sus
                    formaciones rocosas únicas y el monasterio, ofrece rutas de
                    todos los niveles y vistas espectaculares desde sus
                    miradores.
                </li>
                <li>
                    <strong>Parque Natural del Montseny</strong> – Reserva de la
                    biosfera de la UNESCO, con rutas como la subida al Turó de
                    l'Home, ideal para observar bosques y fauna diversa en un
                    entorno montañoso.
                </li>
                <li>
                    <strong>Parque del Garraf</strong> – Zona montañosa cerca
                    del mar, con rutas que ofrecen un contraste entre la roca
                    caliza, la vegetación mediterránea y vistas al Mediterráneo.
                </li>
                <li>
                    <strong>Riera de Vallvidrera</strong> – Un rincón tranquilo
                    en Collserola, con senderos junto al agua y áreas de picnic,
                    perfecto para paseos relajantes en medio de la naturaleza.
                </li>
            </ul>
        </div>
    </div>
    <div class="box">
        <a
            href="https://unsplash.com/es/fotos/coches-aparcados-al-lado-de-una-carretera-frente-a-una-montana-c0bqpJHXlJI"
        >
            <img
                src="./assets/images/highzone-c0bqpJHXlJI-unsplash.jpg"
                alt="Paisaje natural"
        /></a>
        <p class="alt-img">
            Foto de
            <a
                href="https://unsplash.com/es/@ytcreator?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                >HighZone</a
            >
            en
            <a
                href="https://unsplash.com/es/fotos/coches-aparcados-al-lado-de-una-carretera-frente-a-una-montana-c0bqpJHXlJI?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                >Unsplash</a
            >
        </p>
    </div>
</section>
