<section>
    <h2>Ruta de montserrat:</h2>

    <div>
        <div>
            <div class="komoot-map">
                <iframe
                    frameborder="0"
                    scrolling="no"
                    src="https://es.wikiloc.com/wikiloc/embedv2.do?id=17589747&elevation=off&images=off&maptype=H"
                    width="100%"
                    height="400px"
                ></iframe>
                <div style="color: #777; font-size: 11px; line-height: 16px">
                    Powered by&nbsp;<a
                        style="
                            color: #4c8c2b;
                            font-size: 11px;
                            line-height: 16px;
                        "
                        target="_blank"
                        href="https://es.wikiloc.com"
                        >Wikiloc</a
                    >
                </div>
            </div>
            <p>
                La montaña de Montserrat es uno de los lugares más emblemáticos
                de Cataluña, con su monasterio benedictino y sus formaciones
                rocosas únicas. A continuación, algunas de las rutas más
                populares para explorar esta montaña mágica.
            </p>
        </div>
    </div>
</section>
