<section class="montserrat">
    <h2>Ruta de Montserrat:</h2>
    <div class="flex">
        <div>
            <i class="fa-solid fa-user primary"></i>
            <i class="fa-solid fa-user primary"></i>
            <i class="fa-solid fa-user primary"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-user"></i>
            <!-- Or you can use a <span> element, with classes applied in the same way -->

            <p>
                La montaña de Montserrat es uno de los lugares más emblemáticos
                de Cataluña, con su monasterio benedictino y sus formaciones
                rocosas únicas. A continuación, algunas de las rutas más
                populares para explorar esta montaña mágica:
            </p>
            <ul>
                <li>
                    <strong>Ruta de Sant Joan:</strong> Esta ruta parte desde el
                    monasterio y sube hasta la ermita de Sant Joan. Es una
                    caminata de nivel moderado que ofrece unas vistas
                    impresionantes de toda la sierra.
                </li>
                <li>
                    <strong>Camí de les Ermites:</strong> Un recorrido que
                    permite explorar varias de las ermitas dispersas en
                    Montserrat. Es ideal para aquellos interesados en la
                    historia religiosa de la montaña.
                </li>
                <li>
                    <strong>Ruta a Sant Jeroni:</strong> La más alta de
                    Montserrat, que lleva al punto más elevado de la montaña,
                    Sant Jeroni, desde donde se pueden ver los Pirineos y el
                    Mediterráneo en días despejados. Es un desafío, pero las
                    vistas son muy gratificantes.
                </li>
            </ul>
            <p>
                Cada una de estas rutas ofrece una experiencia única y permite
                descubrir la belleza natural y espiritual de Montserrat. Además,
                se pueden encontrar diversos miradores a lo largo de los
                caminos, perfectos para descansar y disfrutar de las vistas.
            </p>
        </div>
        <div class="komoot-map">
            <iframe
                frameborder="0"
                scrolling="no"
                src="https://es.wikiloc.com/wikiloc/embedv2.do?id=17589747&elevation=off&images=off&maptype=H"
                width="100%"
                height="400px"
            ></iframe>
            <!-- This is from wikiloc not made by jramma -->
            <div style="color: #777; font-size: 11px; line-height: 16px">
                Powered by&nbsp;<a
                    style="color: #4c8c2b; font-size: 11px; line-height: 16px"
                    target="_blank"
                    href="https://es.wikiloc.com"
                    >Wikiloc</a
                >
            </div>
        </div>
    </div>
</section>
