<section class="container inner-shadow">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img
                    src="./assets/images/jordi-jimenez-4Nd7KN8I_Ns-unsplash.jpg"
                />
                <p>
                    Foto de
                    <a
                        href="https://unsplash.com/es/@jordijbcn?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                        >Jordi Jimenez</a
                    >
                    en
                    <a
                        href="https://unsplash.com/es/fotos/un-cuerpo-de-agua-rodeado-de-montanas-y-arboles-4Nd7KN8I_Ns?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                        >Unsplash</a
                    >
                </p>
            </div>
            <div class="swiper-slide">
                <img
                    src="./assets/images/jordi-vich-navarro-NBLlVBAyJco-unsplash.jpg"
                />
                <p>
                    Foto de
                    <a
                        href="https://unsplash.com/es/@jvich?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                        >Jordi Vich Navarro</a
                    >
                    en
                    <a
                        href="https://unsplash.com/es/fotos/silueta-de-los-edificios-de-la-ciudad-bajo-el-cielo-nublado-durante-el-dia-NBLlVBAyJco?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                        >Unsplash</a
                    >
                </p>
            </div>
            <div class="swiper-slide">
                <img
                    src="./assets/images/manuel-torres-garcia-7FxQKm4PcvY-unsplash.jpg"
                />
                <p>
                    Foto de
                    <a
                        href="https://unsplash.com/es/@matoga?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                        >Manuel Torres Garcia</a
                    >
                    en
                    <a
                        href="https://unsplash.com/es/fotos/personas-caminando-por-el-parque-rodeado-de-arboles-durante-el-dia-KYtCGj4l1ww?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                        >Unsplash</a
                    >
                </p>
            </div>
            <div class="swiper-slide">
                <img
                    src="./assets/images/manuel-torres-garcia-KYtCGj4l1ww-unsplash.jpg"
                />
                <p>
                    Foto de
                    <a
                        href="https://unsplash.com/es/@matoga?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                        >Manuel Torres Garcia</a
                    >
                    en
                    <a
                        href="https://unsplash.com/es/fotos/una-vista-de-una-playa-con-una-montana-al-fondo-7FxQKm4PcvY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                        >Unsplash</a
                    >
                </p>
            </div>
            <div class="swiper-slide">
                <img
                    src="./assets/images/marty-bell-TrOAkszKzzA-unsplash.jpg"
                />
                <p>
                    Foto de
                    <a
                        href="https://unsplash.com/es/@mrty?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                        >Marty Bell</a
                    >
                    en
                    <a
                        href="https://unsplash.com/es/fotos/fotografia-aerea-de-la-cordillera-TrOAkszKzzA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                        >Unsplash</a
                    >
                </p>
            </div>
            <div class="swiper-slide">
                <img
                    src="./assets/images/pourya-gohari-alOLhIlQxI4-unsplash.jpg"
                />
                <p>
                    Foto de
                    <a
                        href="https://unsplash.com/es/@_pourya_?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                        >Pourya Gohari</a
                    >
                    en
                    <a
                        href="https://unsplash.com/es/fotos/una-iglesia-con-un-campanario-y-una-torre-del-reloj-alOLhIlQxI4?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                        >Unsplash</a
                    >
                </p>
            </div>
            <div class="swiper-slide">
                <img
                    src="./assets/images/sasha-matveeva-_UFIVvezTUI-unsplash.jpg"
                />
                <p>
                    Foto de
                    <a
                        href="https://unsplash.com/es/@sashamatveeva?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                        >Sasha Matveeva</a
                    >
                    en
                    <a
                        href="https://unsplash.com/es/fotos/un-teleferico-amarillo-subiendo-por-la-ladera-de-una-montana-_UFIVvezTUI?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                        >Unsplash</a
                    >
                </p>
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</section>
