<section class="container inner-shadow">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img
                    src="./assets/images/jordi-jimenez-4Nd7KN8I_Ns-unsplash.jpg"
                />
                <p>Img1</p>
            </div>
            <div class="swiper-slide">
                <img
                    src="./assets/images/jordi-vich-navarro-NBLlVBAyJco-unsplash.jpg"
                />
                <p>Img2</p>
            </div>
            <div class="swiper-slide">
                <img
                    src="./assets/images/manuel-torres-garcia-7FxQKm4PcvY-unsplash.jpg"
                />
                <p>Img3</p>
            </div>
            <div class="swiper-slide">
                <img
                    src="./assets/images/manuel-torres-garcia-KYtCGj4l1ww-unsplash.jpg"
                />
                <p>Img4</p>
            </div>
            <div class="swiper-slide">
                <img
                    src="./assets/images/marty-bell-TrOAkszKzzA-unsplash.jpg"
                />
                <p>Img5</p>
            </div>
            <div class="swiper-slide">
                <img
                    src="./assets/images/pourya-gohari-alOLhIlQxI4-unsplash.jpg"
                />
                <p>Img6</p>
            </div>
            <div class="swiper-slide">
                <img
                    src="./assets/images/sasha-matveeva-_UFIVvezTUI-unsplash.jpg"
                />
                <p>Img6</p>
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</section>
