// main.scss

body {
  font-family: $font-family-sans;
  color: $text-color;
  background-color: $background-color;
  margin: 0;
}

.about,
.highlights {
  padding: 2rem;

  h2 {
    color: $secondary-color;
    margin-bottom: 1rem;
  }
}

.highlight-item {
  margin-bottom: 1.5rem;

  h3 {
    font-size: 1.2rem;
    color: $primary-color;
  }
}

.footer {
  background-color: $secondary-color;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

@media (width >= 768px) {
  .highlight-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

main {
  width: 100%; // Asegura que el main ocupe todo el ancho de la pantalla
  max-width: 1280px; // Tama침o m치ximo, similar al de un container en Tailwind
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; // Espacio interno en los lados
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow-x: visible;
  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }
}
.container {
  width: 100%; // Asegura que el main ocupe todo el ancho de la pantalla
  max-width: 1280px; // Tama침o m치ximo, similar al de un container en Tailwind
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; // Espacio interno en los lados
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }
}
section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.inner-shadow {
  box-shadow: inset 10px 0 20px $background-color,
    inset -10px 0 20px $background-color;
}
