@use "sass:color";

$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$mq-min-width: 420px;
$md: 768px;
$font-family-serif: "Montserrat", Roboto, serif;
$font-family-sans: "Montserrat", Roboto, sans-serif;
$primary-color: #5a8f7b;
$secondary-color: #333;
$text-color: #666;
$background-color: #f4f4f4;
